<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hutao.myhelpset">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHelpSet">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tool.leakcanary.LeakCanaryAcitvity"></activity>
        <activity android:name=".tool.profiler.ProfilerAcitvity"></activity>
        <activity android:name=".tool.okhttp.OkHttpAcitvity"></activity>
        <activity android:name=".tool.rxjava.RxJavaAcitvity"></activity>
        <activity android:name=".tool.rxjava.RxJavaDemoActivity"></activity>
    </application>

</manifest>